---
import { type FragmentType, graphql, useFragment } from "@/gql";

import PostMetadata from "../PostMetadata.astro";
import Tag from "../Tag.astro";

interface Props {
  $post: FragmentType<typeof PostListItemFragment_post>;
  $publication: FragmentType<typeof PostListItemFragment_publication>;
}

const PostListItemFragment_post = graphql(`
  fragment PostListItemFragment_post on Post {
    title
    slug
    subtitle
    brief
    coverImage {
      url
    }
    tags {
      ...TagFragment_tag
    }
    ...PostMetadataFragment_post
  }
`);

const PostListItemFragment_publication = graphql(`
  fragment PostListItemFragment_publication on Publication {
    isTeam
  }
`);

const { $post, $publication } = Astro.props;
const post = useFragment(PostListItemFragment_post, $post);
const publication = useFragment(PostListItemFragment_publication, $publication);
---

<li
  class="transition-outline-color,transform,box-shadow block flex flex-col transform gap-8 rounded-lg shadow outline-1 outline-gray-2 outline duration-500 md:flex-row hover:(shadow-md outline-2 outline-blue-2 -translate-y-1)"
>
  {
    post.coverImage && (
      <a
        href={`/posts/${post.slug}`}
        class="my-auto block h-fit flex-shrink-0 md:w-2/5"
      >
        <img src={post.coverImage.url} alt="Cover image" />
      </a>
    )
  }
  <div class="flex flex-col gap-8 md:(flex-row py-8 pr-8) lt-md:(px-8 pb-8)">
    <div class="border border-gray-1 lt-md:mx-2 md:my-2"></div>
    <div class="flex flex-col gap-4 md:min-h-72">
      <a href={`/posts/${post.slug}`}>
        <p class="text-2xl font-medium">{post.title}</p>
      </a>
      {
        (post.tags?.length ?? 0) > 0 && (
          <ul class="flex flex-wrap gap-2">
            {post.tags?.map((tag) => (
              <li>
                <Tag $tag={tag} />
              </li>
            ))}
          </ul>
        )
      }
      <PostMetadata $post={post} showAuthor={publication.isTeam} />
      <a href={`/posts/${post.slug}`} class="flex-grow">
        <p class="text-lg text-gray-5">{post.subtitle ?? post.brief}</p>
      </a>
    </div>
  </div>
</li>
